.home-page {
    background-size: cover; /* Resmi tüm sayfaya sığacak şekilde ayarla */
    background-position: center; /* Resmi ortala */
    height: 100vh; /* Sayfanın tam yüksekliğini kapla */
    justify-content: center;
    align-items: center;
    color:rgb(6, 97, 128); /* Yazı rengini beyaz yap */
    text-align: center;
  }

.font-link {
    font-family: 'Hanalei Fill', cursive;
  }
  
  .content {

  }